<div class="alert alert-success alert-dismissible fade <%= notice ? 'show' : 'visually-hidden'%>" role="alert">
  <%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-warning alert-dismissible fade <%= alert ? 'show' : 'visually-hidden'%>" role="alert">
  <%= alert %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>